@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

:root{
    --dark-blue: #0B0D17;
    --gray: #D0D6F9;
    --white: #fff;
    --ghost-space: 15vh;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
}

html {
    font-size: 15px;
    color: var(--gray);
}

figure{
    line-height: 0;
}

body {
    background-color: var(--dark-blue);
    color: var(--white);
    min-height: 100vh;
    min-width: 100vw;
}
a {
    color: var(--white);
}

main {
    min-height: 100vh;
    min-width: 100vw;
}

.ghost-space {
    height: var(--ghost-space);
}

.center-box {
    margin: 0 auto;
    width: 76vw;
    transform: translate(-1vw);
    /* position: relative; */
    /* background-color: red; */
}

body::-webkit-scrollbar {
    display: none;
}

.router-link-active{
    border-bottom: 2px solid var(--white);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media screen and ( max-width: 768px ) {
    :root{
        --ghost-space: 8vh;
    }

    .center-box {
        margin: 0 auto;
        width: 85vw;
    }
    
}

