@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@100;300;400&display=swap');

html {
    font-size: 15px;
}

h1{
    font-weight: 300;
    font-size: 8rem;
}
h1, h3 {
    text-transform: uppercase;
    letter-spacing: 6px;


}

h3 {
    font-weight: 100;
    font-size: 1rem
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
figure{
    line-height: 0;
}

body {
    background-color: #0B0E17;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
}
a {
    color: #fff;
}
p {
    color: #9597a1;
}